@use "../../../mixins/index" as *;
@use "../../../presets/index" as *;
$item: 9;

@for $i from 1 through $item {
  .skills-articles:nth-child(#{$i}) {
    grid-area: ar#{$i};
  }
}

.skills-articles {
  position: relative;

  display: grid;
  overflow: hidden;

  &:hover &__img {
    transform: scale(1.1);
  }

  &:hover .skills__overlay {
    opacity: 0.95;
  }

  &__img {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: 0.8s;

    background-position: 50% 50%;
    background-size: cover;
  }

  &__link {
    position: relative;
    z-index: 2;

    display: grid;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 15px;

    transition: color 0.4s;
    letter-spacing: 0.1em;

    color: $color-light;

    font-weight: 700;

    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
    justify-items: center;


    &:hover {
      color: $color-accent;
    }
  }
}
