@use "../../../mixins/index" as *;
@use "../../../presets/index" as *;

.skills {
  &__btns {
    @include btn-container;
    padding-bottom: $gap;
  }

  &__container {
    min-height: 100vh;
    padding: 10px;
    margin-bottom: 10px;

  }

  &__part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(33.333vh - 13.333px);
    grid-template-areas:
      "ar1 ar1 ar2 ar3"
      "ar4 ar5 ar5 ar6"
      "ar7 ar8 ar9 ar6";
    gap: $gap-sm;
  }

  &__overlay {
    @include abs-position;
    // @include bg-color($color-main, 0.8);
    background-color: $color-main;
    opacity: 0.8;
    transition: opacity 0.5s;
  }
}