@use "../../mixins/index" as *;
@use "../../presets/index" as *;


.join {
  background-color: $color-gray-light;
  margin-top: $gap;

  // .join__articles-container

  &__articles-container {
    @extend %container;
    padding: $gap-x5 $gap $gap-x3;
  }

  // .join__article

  &__article {
    display: grid;
    grid-template-columns: 2fr 1fr 100px 1fr;

    &-line {
      grid-column: 3 / span 1;
      position: relative;
      top: 0;
      left: 50%;
      height: $gap-x10;
      width: 2px;
      @include bg-color($color-gray, 0.1)
    }
  }


  // .join__article-title

  &__article-title {
    grid-column: 1 / span 3;
    margin-bottom: $gap-x2;
    font-size: 2.5rem;
    font-family: $font-header;
    color: $color-main;
    line-height: 1.2em;
    letter-spacing: 0.1em;
  }

  // .join__post

  &__post {
    grid-column: 1 / span 2;
    padding-right: $gap;
    font-size: 1.125rem;
    letter-spacing: 0.055em;
    line-height: 1.15em;
    color: $color-gray;
    font-weight: 400;
    font-family: $font-main;

    & p:first-of-type {
      margin-top: 0;
    }
  }

  // .join__img

  &__img {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    display: grid;
    align-items: center;
    justify-items: center;

    & img {
      max-height: 470px;
      width: 100%;
      object-fit: contain;
    }
  }
}