@use "../../mixins/index" as *;
@use "../../presets/index" as *;
$item: 6;

@for $i from 1 through $item {
  .posts__article:nth-child(#{$i}) {
    grid-area: p_ar#{$i};
  }
}

.posts {
  // .posts__title

  &__title {
    letter-spacing: 0.1em;

    color: $color-main;

    font-family: $font-header;
    font-weight: 700;
    line-height: 1.2em;

    @include lg-min {
      margin-bottom: 48px;

      font-size: 2.5rem;
    }
    @include lg-md {
      margin-bottom: 42px;

      font-size: 2rem;
    }
    @include md {
      margin-bottom: 36px;

      font-size: 1.5rem;
    }
    @include sm {
      text-align: center;
    }
  }


  // .posts__container

  &__container {
    padding-top: $gap-x5;

    @extend %container;
  }

  &__wrapper {
    display: grid;

    margin-bottom: $gap;

    gap: $gap;
    @include lg-min {
      grid-template-areas: "p_ar1 p_ar1 p_ar2 p_ar3"
      "p_ar4 p_ar5 p_ar6 p_ar6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "p_ar1 p_ar1 p_ar2"
      "p_ar3 p_ar4 p_ar4"
      "p_ar5 p_ar5 p_ar6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "p_ar1 p_ar2"
      "p_ar3 p_ar4"
      "p_ar5 p_ar6";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "p_ar1"
      "p_ar2"
      "p_ar3"
      "p_ar4"
      "p_ar5"
      "p_ar6";
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .posts__article

  &__article {
    display: grid;

    transition: background-color 0.4s;

    background-color: $color-post;

    &-item {
      display: grid;
      align-content: center;

      padding: $gap;
    }

    &:hover {
      background-color: $color-hovpost ;
    }

    &:hover &-img img,
    &:focus &-img img {
      transform: scale(1.1);
    }
  }

  // .posts__link

  &__link {
    display: grid;

    grid-template-rows: 300px minmax(240px, min-content);
  }

  // .posts__article-img

  &__article-img {
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;

      transition: 0.8s;

      object-fit: cover;
    }
  }

  // .posts__article-title

  &__article-title {
    padding: $gap-sm 0;

    text-align: center;
    letter-spacing: 0.05555em;

    color: $color-gray;

    font-family: $font-header;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.1111em;
  }

  // .posts__article-descr

  &__article-descr {
    padding: $gap-sm 0;

    text-align: center;

    color: $color-gray;

    font-family: $font-main;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
  }

  // .posts__btns

  &__btns {
    @include btn-container;
    @include lg-min {
      margin-bottom: $gap-x5;
    }
    @include lg-md {
      margin-bottom: $gap-x4;
    }
    @include md {
      margin-bottom: $gap-x3;
    }
  }
}
