@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.join__form {
  background-color: $color-main;
  // .join__form-container

  &-container {
    padding-top: 30px;
    padding-bottom: 30px;
    @extend %container;
    @include form-container;

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }
}


.input-style {

  & input {
    @extend %input-style;
    @include bg-color($color-light, 0.051);
    color: $color-light;
    transition: background-color 0.4s, border-color 0.4s;

    &::placeholder {
      color: $color-gray;
      transition: 0.4s;
    }

    &:hover,
    &:focus {
      @include bg-color($color-light, 0.149);
      border-color: $color-gray;
      border-bottom: 2px solid rgba($color-light, 1);
      outline: none;

      &::placeholder {
        color: $color-gray-light;
      }
    }
  }

  @include md-sm {

    &:nth-child(1) {
      grid-column: 1 / span 2;
    }
  }
}

.input-btn {

  & input {
    @extend %input-style;
    @include bg-color($color-light, 0.102);
    color: $color-light;
    transition: background-color 0.4s, border 0.4s;

    &:hover,
    &:focus {
      background-color: $color-accent;
      border: 2px solid $color-light;
    }
  }

}