@use "../presets/variables" as *;
@use "../presets/skin" as *;

%container {
  max-width: $ul;
  padding-inline: $gap;
  margin-inline: auto;
}

%input-style {
  padding: 0 35px 0 35px;
  min-width: 420px;
  min-height: $btn-hight;
  font-size: 1.125rem;
  letter-spacing: 0.11em;
  line-height: 2.166em;
  font-weight: 400;
  font-family: $font-main;
  border: 2px solid rgba($color-light, 0);
  border-bottom: 2px solid rgba($color-light, 0.2);
}