@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.footer {
  width: 100%;

  background-color: $color-main;
  // .footer__container

  &__container {
    display: flex;
    justify-content: center;

    min-height: 250px;

    @extend %container;
  }

  // .footer__content

  &__content {
    display: grid;
    align-content: center;

    justify-items: center;
  }

  // .footer__social

  &__social {
    display: flex;

    gap: $gap;
  }

  // .footer__hr

  &__hr {
    min-width: 80px;
    height: 2px;
    margin: 27px 0 21px 0;

    @include bg-color($color-light, 0.1);
  }

  // .footer__brand

  &__brand {
    text-align: center;

    color: $color-gray-light;

    font-family: $font-main;

    & span:nth-child(1) {
      letter-spacing: 0.33em;

      color: $color-gray;

      font-weight: 100;
    }

    & span:nth-child(3) {
      letter-spacing: 0.05em;

      font-weight: 700;
    }
  }
}

.fa-brands {
  transition: color 0.4s;

  font-size: 36px;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
