@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.header {
  position: relative;

  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 150px 0;

  background-image: url(../img/img-header.png);
  background-position: center;
  background-size: cover;

  &__content-container,
  &-menu__container {
    position: relative;

    @extend %container;
  }
}
