@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.header {
  min-height: 100vh;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 150px 0;
  background-image: url(../img/img-header.png);
  background-position: center;
  background-size: cover;

  &-content__container,
  &-menu__container {
    @extend %container;
    position: relative;
  }
}