@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.header-menu {
  &__container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 12px 0 20px 0;

    @include md {
      box-shadow: 3px 4px 20px -10px black;
    }
  }
}