@use "../../mixins/index" as *;
@use "../../presets/index" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__title {
    font-size: 3.75rem;
    letter-spacing: 0.08em;
    color: $color-light;
    font-weight: 300;
    text-align: center;
  }

  &__items {
    @include btn-container;
    margin-top: 55px;
  }
}